/* it 502 css style sheet group 2 */
/*this is the custom css code for our project*/
header
 {
   font-size: 1em;   /*feel free to change */
 }

.index-columns {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 15px;
}

.jumbotron {
}

   start Car*/
.slide1, .slide2, .slide3 {
	min-height: 560px; /* Must have a height or min-height set due to use of background images */
	background-size: cover;
	background-position: center center;
}
.slide1 {
	background-image: url(http://placekitten.com/1000/300);
}
.slide2 {
	background-image: url(http://placekitten.com/1100/300);
}
.slide3 {
	background-image: url(http://placekitten.com/1200/300);
}
/* Carousel Fade Effect */
.carousel.carousel-fade .item {
	-webkit-transition: opacity 1s linear;
	-moz-transition: opacity 1s linear;
	-ms-transition: opacity 1s linear;
	-o-transition: opacity 1s linear;
	transition: opacity 1s linear;
	opacity: .5;
}
.carousel.carousel-fade .active.item {
	opacity: 1;
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
	left: 0;
	z-index: 2;
	opacity: 0;
	filter: alpha(opacity=0);
}
/* Carousel Overlay */
.carousel-overlay {
	position: absolute;
	bottom: 100px;
	right: 0;
	left: 0;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}
/*END NAVBAR*/
/*contact h1 css contact should inherriate anything else*/
.contact-head /* h1 class*/
{
  margin: 30px;	
 
}
